Repository jacobrs/Signal-Android, pull requests merged in 2018-03, with the labels that each got.

#72 Mark as unread
  res/drawable-hdpi-v9/marked_unread_icon.png
  res/layout/alert_view.xml
  res/menu/conversation_context.xml
  res/values/attrs.xml
  res/values/strings.xml
  res/values/themes.xml
  src/org/thoughtcrime/securesms/ConversationFragment.java
  src/org/thoughtcrime/securesms/ConversationItem.java
  src/org/thoughtcrime/securesms/components/AlertView.java
  src/org/thoughtcrime/securesms/database/MmsDatabase.java
  src/org/thoughtcrime/securesms/database/MmsSmsColumns.java
  src/org/thoughtcrime/securesms/database/MmsSmsDatabase.java
  src/org/thoughtcrime/securesms/database/SmsDatabase.java
  src/org/thoughtcrime/securesms/database/model/MediaMmsMessageRecord.java
  src/org/thoughtcrime/securesms/database/model/MessageRecord.java
  src/org/thoughtcrime/securesms/database/model/MmsMessageRecord.java
  src/org/thoughtcrime/securesms/database/model/NotificationMmsMessageRecord.java
  src/org/thoughtcrime/securesms/database/model/SmsMessageRecord.java
  test/unitTest/java/org/thoughtcrime/securesms/ConversationFragmentTest.java
  test/unitTest/java/org/thoughtcrime/securesms/database/MmsDatabaseTest.java
  test/unitTest/java/org/thoughtcrime/securesms/database/SmsDatabaseTest.java
Labels: Subtask, mark as unread

#75 Pin messages
  AndroidManifest.xml
  res/drawable-xxhdpi/ic_pin_white_24dp.png
  res/drawable-xxhdpi/ic_unpin_white_24dp.png
  res/layout/conversation_item_received.xml
  res/layout/conversation_item_sent.xml
  res/layout/pinned_messages_activity.xml
  res/menu/conversation.xml
  res/menu/conversation_context.xml
  res/values/attrs.xml
  res/values/strings.xml
  res/values/themes.xml
  src/org/thoughtcrime/securesms/ConversationActivity.java
  src/org/thoughtcrime/securesms/ConversationAdapter.java
  src/org/thoughtcrime/securesms/ConversationFragment.java
  src/org/thoughtcrime/securesms/ConversationItem.java
  src/org/thoughtcrime/securesms/ConversationTitleView.java
  src/org/thoughtcrime/securesms/PinnedMessagesListActivity.java
  src/org/thoughtcrime/securesms/database/MmsDatabase.java
  src/org/thoughtcrime/securesms/database/MmsSmsColumns.java
  src/org/thoughtcrime/securesms/database/MmsSmsDatabase.java
  src/org/thoughtcrime/securesms/database/SmsDatabase.java
  src/org/thoughtcrime/securesms/database/loaders/ConversationPinnedLoader.java
  src/org/thoughtcrime/securesms/database/model/MediaMmsMessageRecord.java
  src/org/thoughtcrime/securesms/database/model/MessageRecord.java
  src/org/thoughtcrime/securesms/database/model/MmsMessageRecord.java
  src/org/thoughtcrime/securesms/database/model/NotificationMmsMessageRecord.java
  src/org/thoughtcrime/securesms/database/model/SmsMessageRecord.java
  test/unitTest/java/org/thoughtcrime/securesms/ConversationFragmentTest.java
  test/unitTest/java/org/thoughtcrime/securesms/database/MmsDatabaseTest.java
  test/unitTest/java/org/thoughtcrime/securesms/database/SmsDatabaseTest.java
Labels: Pin Messages, Story

#76 Video compression
  AndroidManifest.xml
  build.gradle
  proguard-google-play-services.pro
  src/org/thoughtcrime/securesms/database/AttachmentDatabase.java
  src/org/thoughtcrime/securesms/jobs/SendJob.java
  src/org/thoughtcrime/securesms/mms/MediaConstraints.java
Labels: Video compression

#87 Bugfix pending unread
  res/drawable-hdpi-v9/marked_unread_icon.png
  res/layout/alert_view.xml
  res/layout/conversation_item_received.xml
  res/layout/conversation_item_sent.xml
  src/org/thoughtcrime/securesms/ConversationItem.java
  src/org/thoughtcrime/securesms/components/AlertView.java
Labels: bug, mark as unread

#100 Search conversation
  res/menu/conversation_search.xml
  res/values/strings.xml
  src/org/thoughtcrime/securesms/BindableConversationItem.java
  src/org/thoughtcrime/securesms/ConversationActivity.java
  src/org/thoughtcrime/securesms/ConversationAdapter.java
  src/org/thoughtcrime/securesms/ConversationFragment.java
  src/org/thoughtcrime/securesms/ConversationItem.java
  src/org/thoughtcrime/securesms/ConversationUpdateItem.java
  src/org/thoughtcrime/securesms/database/loaders/ConversationSearchableLoader.java
  test/androidTest/java/org/thoughtcrime/securesms/espressoTests/SearchThroughConversationTest.java
  test/androidTest/java/org/thoughtcrime/securesms/util/ConversationActions.java
  test/androidTest/java/org/thoughtcrime/securesms/util/Expectations.java
  test/unitTest/java/org/thoughtcrime/securesms/ConversationItemTest.java
  test/unitTest/java/org/thoughtcrime/securesms/database/ConversationSearchableLoaderTest.java
Labels: Search through convo

#101 Fingerprint authorization
  AndroidManifest.xml
  res/drawable-hdpi/ic_fingerprint_black_48dp.png
  res/drawable-mdpi/ic_fingerprint_black_48dp.png
  res/drawable-xhdpi/ic_fingerprint_black_48dp.png
  res/drawable-xxhdpi/ic_fingerprint_black_48dp.png
  res/drawable-xxxhdpi/ic_fingerprint_black_48dp.png
  res/layout/prompt_passphrase_activity.xml
  res/values/attrs.xml
  res/values/strings.xml
  res/values/themes.xml
  res/xml/preferences_app_protection.xml
  src/org/thoughtcrime/securesms/FingerprintAuthenticationHandler.java
  src/org/thoughtcrime/securesms/PassphrasePromptActivity.java
  src/org/thoughtcrime/securesms/crypto/MasterSecretUtil.java
  src/org/thoughtcrime/securesms/preferences/AppProtectionPreferenceFragment.java
  src/org/thoughtcrime/securesms/util/FingerprintAuthenticationUtil.java
  src/org/thoughtcrime/securesms/util/TextSecurePreferences.java
  test/androidTest/java/org/thoughtcrime/securesms/FingerprintAuthenticationTest.java
  test/androidTest/java/org/thoughtcrime/securesms/FingerprintIconTest.java
  test/unitTest/java/org/thoughtcrime/securesms/crypto/FingerprintAuthenticationUnitTest.java
Labels: Fingerprint auth

#102 Feature/saving response type
  src/org/thoughtcrime/securesms/ConversationActivity.java
  src/org/thoughtcrime/securesms/components/SendButton.java
  test/androidTest/java/org/thoughtcrime/securesms/GetFakeVerifiedTest.java
  test/androidTest/java/org/thoughtcrime/securesms/espressoTests/ConversationChatNameTest.java
  test/androidTest/java/org/thoughtcrime/securesms/espressoTests/PersistentMessageStateTest.java
  test/androidTest/java/org/thoughtcrime/securesms/util/ConversationActions.java
  test/androidTest/java/org/thoughtcrime/securesms/util/GenericActions.java
Labels: enhancement, espresso tests

#142 #99 fixed unread indicator not showing when last message was an outgo…
  src/org/thoughtcrime/securesms/ConversationListItem.java
Labels: bug, mark as unread

#144 Enabled previously failing test and changed the phone number used in …
  test/androidTest/java/org/thoughtcrime/securesms/espressoTests/ConversationChatNameTest.java
  test/androidTest/java/org/thoughtcrime/securesms/espressoTests/MarkMessageAsUnreadTest.java
  test/androidTest/java/org/thoughtcrime/securesms/espressoTests/PersistentMessageStateTest.java
  test/androidTest/java/org/thoughtcrime/securesms/espressoTests/PinningMessagesTest.java
  test/androidTest/java/org/thoughtcrime/securesms/util/EspressoUtil.java
Labels: espresso tests

#147 Swipe delete icon
  res/drawable-hdpi/ic_delete_white_36dp.png
  res/drawable-mdpi/ic_delete_white_36dp.png
  res/drawable-xhdpi/ic_delete_white_36dp.png
  res/drawable-xxhdpi/ic_delete_white_36dp.png
  res/drawable-xxxhdpi/ic_delete_white_36dp.png
  res/values/attrs.xml
  res/values/themes.xml
  src/org/thoughtcrime/securesms/ConversationListFragment.java
  test/androidTest/java/org/thoughtcrime/securesms/database/AttachmentDatabaseTest.java
Labels: Swipe to delete icon

#148 Double tap camera
  res/layout/quick_camera_controls.xml
  src/org/thoughtcrime/securesms/components/camera/CameraView.java
  src/org/thoughtcrime/securesms/components/camera/QuickAttachmentDrawer.java
  src/org/thoughtcrime/securesms/util/DoubleTapGestureDetector.java
  test/androidTest/java/org/thoughtcrime/securesms/espressoTests/DoubleTapCameraTest.java
  test/androidTest/java/org/thoughtcrime/securesms/util/ConversationActions.java
  test/androidTest/java/org/thoughtcrime/securesms/util/Expectations.java
  test/unitTest/java/org/thoughtcrime/securesms/components/camera/CameraViewUnitTest.java
  test/unitTest/java/org/thoughtcrime/securesms/util/DoubleTapGestureDetectorUnitTest.java
Labels: double tap camera
