Repository jacobrs/Signal-Android, pull requests merged in 2018-04, with the labels that each got.

#151 Undo deletion
  CourseAdmin/Release 2 Summary.pdf
  res/values/strings.xml
  src/org/thoughtcrime/securesms/BindableConversationListItem.java
  src/org/thoughtcrime/securesms/ConversationListAdapter.java
  src/org/thoughtcrime/securesms/ConversationListFragment.java
  src/org/thoughtcrime/securesms/ConversationListItem.java
  src/org/thoughtcrime/securesms/ConversationListItemAction.java
  src/org/thoughtcrime/securesms/ConversationListItemInboxZero.java
  test/androidTest/java/org/thoughtcrime/securesms/FingerprintAuthenticationTest.java
  test/androidTest/java/org/thoughtcrime/securesms/espressoTests/ConversationDeleteTest.java
  test/androidTest/java/org/thoughtcrime/securesms/espressoTests/MarkMessageAsUnreadTest.java
  test/androidTest/java/org/thoughtcrime/securesms/espressoTests/PersistentMessageStateTest.java
  test/androidTest/java/org/thoughtcrime/securesms/util/ConversationActions.java
  test/androidTest/java/org/thoughtcrime/securesms/util/Expectations.java
  test/unitTest/java/org/thoughtcrime/securesms/ConversationListFragmentUnitTest.java
Labels: Swipe to delete error tolerance

#154 Update README.md
  README.md
Labels: enhancement

#157 Video Compression toggling/options
  res/values/arrays.xml
  res/values/strings.xml
  res/xml/preferences_chats.xml
  src/org/thoughtcrime/securesms/jobs/SendJob.java
  src/org/thoughtcrime/securesms/mms/MediaConstraints.java
  src/org/thoughtcrime/securesms/preferences/ChatsPreferenceFragment.java
  src/org/thoughtcrime/securesms/util/MediaUtil.java
  src/org/thoughtcrime/securesms/util/TextSecurePreferences.java
  test/androidTest/java/org/thoughtcrime/securesms/VideoCompressionOptionMenuTest.java
  test/androidTest/java/org/thoughtcrime/securesms/mms/VideoCompressionTest.java
  test/unitTest/java/org/thoughtcrime/securesms/mms/VideoCompressionOptionsTest.java
Labels: compression toggling

#155 Translate/add api and ui
  res/drawable-xxxhdpi/ic_translate_white_24dp.png
  res/menu/conversation_context.xml
  res/values/attrs.xml
  res/values/themes.xml
  src/org/thoughtcrime/securesms/ConversationFragment.java
  src/org/thoughtcrime/securesms/database/SmsDatabase.java
  src/org/thoughtcrime/securesms/translation/TranslationResult.java
  src/org/thoughtcrime/securesms/translation/TranslationResultHandler.java
  src/org/thoughtcrime/securesms/translation/TranslationTask.java
  test/androidTest/java/org/thoughtcrime/securesms/espressotests/TranslationTest.java
  test/androidTest/java/org/thoughtcrime/securesms/util/ConversationActions.java
  test/unitTest/java/org/thoughtcrime/securesms/ConversationFragmentTest.java
  test/unitTest/java/org/thoughtcrime/securesms/translation/TranslationTaskUnitTest.java
Labels: auto translate, enhancement
